<!DOCTYPE html>
<html>

<head>
    <title>Display Books</title>
</head>

<body>
    <h1>Book List</h1>
    <ul>
        {% for book in books %}
        <li>{{ book.book.name }} by {{ book.book.author }} <a href="{% url 'remove_book' book_id=book.book.id %}"> delete</a></li>
        {% if not book.loan  %}
        <form method="post" action="{% url 'loan_book' book_id=book.book.id %}">
            {% csrf_token %}
            <label for="customer_id">Customer ID:</label>
            <input type="text" id="customer_id" name="customer_id" required><br>
            <button type="submit">Loan Book</button>
        </form>
        {% else %}
        <form method="post" action="{% url 'return_book' book_id=book.book.id %}">
            {% csrf_token %}
           
            <button type="submit">Return Book</button>
        </form>
        {% endif %}
        {% empty %}
        <li>No books found.</li>
        {% endfor %}
    </ul>
</body>

</html>